*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.mp3
*.wav
*.flac
*.ogg
*.m4a
*.zip
*.tar
*.tar.gz


*.json
*.xml
*.log
*.tmp

.DS_Store

*.pth

# Datasets (ignore large synced datasets)
/database/datasets/SoccerWiki/
/database/datasets/SoccerBench/
